@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
  margin: 0px;
  padding: 0px;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

#poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

/* shared style */
.display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.deep-gray {
  background-color: rgba(17, 17, 17, 1);
}

.black-background {
  background-color: black;
}
.light-grey-background{
  background-color: rgba(34, 34, 34, 1)
}
.white {
  color: rgba(255, 255, 255, 1);
}

.button {
  background-color: rgba(230, 83, 60, 1);
  border-radius: 2.625rem; /* 42px */
  color: white;
  width: 14rem; /* 224px */
  border: none;
  text-align: center; 
  font-size: 1.125rem; /* 18px */
  font-weight: 600;
  padding: 1rem; /* 16px */
}

.regular-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem; /* 16px */
  font-weight: 500;
}

.black-text {
  font-size: 3rem; /* 48px */
  font-weight: 800;
}
.common-bold{
  font-size: 3rem;
  font-weight: 600;
  color: white;
}
.semi-bold{
  font-size: 19px;
  font-weight: 700;
  color: white;
}
/* navbar related style */
.brand {
  color: rgba(230, 83, 60, 1);
  font-size: 2.25rem; /* 36px */
  font-weight: 900;
  font-style: italic;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
  transition: 0.3s;
}

.nav-bar {
  justify-content: space-between;
  max-width: 66.25rem;
  margin: 0 auto;
  padding: 20px;
  align-items: center;
}
.navlinks{
  border:2px solid rgb(63, 62, 61);
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  padding-left: 0px;
}
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-left: auto;
}
.nav-item {
  list-style: none;
  margin-left: 20px;
  padding: 0;
}
#nav-item1{
  margin-left: 0px;
  background-color: rgba(230, 83, 60, 1); ;
  border-radius: 20px;
  padding:8px;

}

.nav-link {
  text-decoration: none;
  font-size: 1.125rem; /* 18px */
  font-weight: 600;
  color: white;
}

.buttons1 {
  display: flex;
  justify-content: space-between;
  gap:10px;
}

.button1 {
  text-decoration: none;
  color: white;
}

#button2 {
  background-color: rgba(17, 17, 17, 1);
  color: white;
  border: 2px solid white;
}

.banner {
  max-width: 1060px;
  padding: 30px;
  margin: 0 auto;
  gap: 50px;
}

.banner-description {
  max-width: 600px;
}

.banner-img {
  width: 21.8125rem; /* 349px */
  height: 36.25rem; /* 580px */
}

.get {
  font-size: 4.875rem; /* 78px */
  font-weight: 900;
}

.circle {
  width: 2.5rem; /* 40px */
  height: 2.5rem; /* 40px */
  background-color: rgba(230, 83, 60, 1);
  border-radius: 50%;
}

.title-image {
  width: 100%;
}

.card1, .card2 {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);
  width: 12.0625rem; /* 193px */
  height: 6.125rem; /* 98px */
  padding: 0.9rem; /* 17px */
  border-radius: 0.75rem; /* 12px */
}

.card1 {
  margin-left: 11.125rem; 
  margin-top: -29.8125rem;
}

.card2 {
  margin-left: -0.625rem; /* -10px */
  margin-top: -10.1875rem; /* -163px */
  align-items: center;
  justify-content: space-around;
}

/* main */
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* habits section */
.habits{
 max-width:1060px;
 margin:50px 0;
 align-items: center;
}
.habits-headline{
  text-align: center;
  width: 70%;
  margin: 0 auto;
  padding: 20px;
}
.habit-images{
  margin-top: 20px;
  gap: 10px;
}
.habit{
  text-align: center;
}
.habit-image{
  border-radius: 50%;
}
/* running section */
.running{
  max-width:1060px;
  padding: 20px;
  border-radius: 8px;
  gap: 40px;
}
.running-image{
  width: 600px;
  height: 250px;
  overflow:hidden;
  position: relative;
  border-radius: 18px;
}
.running-image img {
  position: absolute;
 top: -200px;
 left:-800px
}
/* sauna section */
.sauna{
  max-width:1060px;
  margin: 30px 0;
  padding: 20px;
  border-radius:8px;
  gap: 40px;
}
.sauna-img{
  width: 600px;
}
.sauna-img img{
  max-width: 100%;
  border-radius: 18px;
}
/* BMI section */
.BMI{
  margin: 50px 0;
  text-align: center;
  width:100%;
  padding-bottom: 40px;
}
.BMI-calculator{
  margin-left: 15%;
  margin-bottom: 50px;
  text-align: left;
}
.calculate-BMI{
  margin: 0 auto;
  max-width: 1060px;
  gap: 50px;
}
.BMI-chart{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  border: 1px solid rgb(175, 168, 168);
}
.BMI-chart div{
  border: 1px solid rgb(175, 168, 168);
  padding: 9px;
}
.inputs-headline{
  width: 100%;
  text-align: left;
  padding: 10px;
}
.inputs{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 5px;
  margin-bottom: 10px;
}
.inputs select option{
  color: rgb(20, 19, 19);
  background-color: rgba(255, 255, 255, 0.1);
}
.input{
  width:95%;
}
input,select{
  background-color:rgba(255, 255, 255, 0.1);
  padding: 10px;
  border: 0px;
  border-radius: 10px;
}
.span{
  grid-column: span 2;
}
/* trainers section */
.trainers{
  background-color: rgba(255, 255, 255, 0.1);
  max-width: 1060px;
  display: grid;
  grid-template-columns:repeat(3,1fr) ;
  gap: 20px;
  padding:20px;
}
.trainer-1,.trainer-2,.trainer-3,.trainer-4,.trainer-5,.trainer-6{
  position: relative;
  width: 40%;
  top: -100px;
  left: 50px;
  margin: -50px;
}
.trainer-img{
  border-radius: 18px;
  width: 100%;
  height: 272px;
}
/* get started section */
.get-started{
  margin-top: 100px;
  width: 100%;
  gap: 10%;
  text-align: left;
}
.get-started-links{
  display: flex;
  flex-direction: column;
  height: 200px;
}
.get-started-link{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}
footer{
  padding: 30px;
}
.line {
  border-top: 2px solid rgb(176, 163, 163);
  padding-bottom: 10px;
}
.copy-right{
  margin:0 auto;
  text-align: center;
}
/* responsive for small devices */
@media screen and (max-width: 556px) {
  .banner{
    flex-direction: column;
  }
  .banner-description{
    width:90%;
  }
  .navlinks {
    display: none; /* Hide menu items by default on small screens */
    flex-direction: column;
    position: absolute;
    top: 60px; /* Adjust based on header height */
    right: 0;
    background-color: rgba(34, 34, 34, 1); /* Adjust background if needed */
    width: 100%;
    padding: 10px 20px;
  }
  .nav-links.active {
    display: flex; /* Show menu items when toggled */
  }
  .menu-toggle {
    display: flex; /* Show hamburger icon on small screens */
  }
  .nav-item {
    margin: 10px 0; /* Adjust spacing for vertical layout */
  }

.brand {
    margin-right: auto; /* Align brand to the left */
  }
  .banner{
    margin-left: 10px;
  }
  .get{
    font-size: 36px;
  }
  .card2{
    margin-left:-15px;
    margin-top: -250px;
    padding: 5px;
  }
  .card1{
    margin-left: 130px;
    margin-top: -540px;
    padding: 5px;
  }
.banner-img{
  margin-left: -40px;
}
.buttons1{
  justify-content: space-between;
}
.nav-bar{
  margin-left: 10px;
}
/* habits section */
.habit-images{
  flex-direction: column;
}
/* running section */
.running{
  flex-direction: column;
}
.running-image{
  width: 360px;
}
.running-image img{
  max-width: 100%;
  top:0;
  left:0;
}
.sauna{
  flex-direction: column;
}
.sauna-img{
  width: 360px;
}
.trainers{
  grid-template-columns: repeat(1,1fr);
}
.trainer-1,.trainer-4{
  display: none;
}
.no-img{
  display: none;
}
.calculate-BMI{
  flex-direction: column;
}
.inputs-headline{
  width: 300px;
  padding: 5px;
}
.input{
  padding: 5px;
}
.get-started{
  flex-direction: column;
}
}