@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

#poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

/* shared style */
.display-flex {
  display: flex;
}

.deep-gray {
  background-color: rgba(17, 17, 17, 1);
}

.black-background {
  background-color: black;
}

.white {
  color: rgba(255, 255, 255, 1);
}

.button {
  background-color: rgba(230, 83, 60, 1);
  border-radius: 2.625rem; /* 42px */
  color: white;
  width: 14rem; /* 224px */
  border: none;
  text-align: center; 
  font-size: 1.125rem; /* 18px */
  font-weight: 600;
  padding: 1rem; /* 16px */
}

.regular-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem; /* 16px */
  font-weight: 500;
}

.black-text {
  font-size: 3rem; /* 48px */
  font-weight: 800;
}
.common-bold{
  font-size: 3rem;
  font-weight: 600;
  color: white;
}
.semi-bold{
  font-size: 19px;
  font-weight: 700;
  color: white;
}
/* navbar related style */
.brand {
  color: rgba(230, 83, 60, 1);
  font-size: 2.25rem; /* 36px */
  font-weight: 900;
  font-style: italic;
}

.nav-bar {
  justify-content: space-between;
  max-width: 66.25rem; /* 1060px */
  margin: 0 auto;
  align-items: center;
}
.navlinks{
  border:2px solid rgb(63, 62, 61);
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  padding-left: 0px;
}

.nav-item {
  list-style: none;
  margin-left: 20px;
  padding: 0;
}
#nav-item1{
  margin-left: 0px;
  background-color: rgba(230, 83, 60, 1); ;
  border-radius: 20px;
  padding:8px;

}

.nav-link {
  text-decoration: none;
  font-size: 1.125rem; /* 18px */
  font-weight: 600;
  color: white;
}

.buttons1 {
  display: flex;
  justify-content: space-between;
}

.button1 {
  text-decoration: none;
  color: white;
}

#button2 {
  background-color: rgba(17, 17, 17, 1);
  color: white;
  border: 2px solid white;
}

.banner {
  /* margin-left: 10.875rem;  */
  max-width: 1060px;
  padding: 30px;
  margin: 0 auto;
}

.banner-description {
  max-height: 27.5rem; /* 440px */
  padding-right: 5rem; /* 80px */
}

.banner-img {
  margin-left: 5.46875rem; /* 87.5px */
  width: 21.8125rem; /* 349px */
  height: 36.25rem; /* 580px */
}

.get {
  font-size: 4.875rem; /* 78px */
  font-weight: 900;
}

.circle {
  width: 2.5rem; /* 40px */
  height: 2.5rem; /* 40px */
  background-color: rgba(230, 83, 60, 1);
  border-radius: 50%;
}

.title-image {
  width: 100%;
}

.card1, .card2 {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);
  width: 12.0625rem; /* 193px */
  height: 6.125rem; /* 98px */
  padding: 0.9rem; /* 17px */
  border-radius: 0.75rem; /* 12px */
}

.card1 {
  margin-left: 18.125rem; /* 290px */
  margin-top: -29.8125rem; /* -477px */
}

.card2 {
  margin-left: -0.625rem; /* -10px */
  margin-top: -10.1875rem; /* -163px */
  align-items: center;
  justify-content: space-around;
}

/* main */
/* section habit */
.habit-intro{
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 20px;
}
.change-ur-habit{
  align-content: center;
  text-align: center;
}
.habits{
  margin-top: 58px;
}
.habit-img{
  border: 2px solid rgb(66, 64, 64);
  border-radius: 100px;
}
.habit{
  justify-content: space-around;
  text-align:center ;
  padding-left: 25.5px;
  padding-right:25.5px;
}

/* running section */
.running{
  margin: 0 auto;
  max-width: 1060px;
  margin-top: 100px;
  justify-content: space-between;
  padding: 32px;
  background-color:rgba(34, 34, 34, 1) ;
}
.run-mile{
  max-width: 448px;
}
.running-img-con {
  width: 366px;            
  height:312px; 
  border-radius:18px;            
  overflow: hidden;      
  position: relative;       
}

.running-img {
  position: absolute;        
  top: -200px;            
  left: -770px;               
  width: auto;          
  height: auto;           
}
/* training section */
.trainings{
  margin:0 auto;
  max-width: 1060px;
}
.exercise-img{
  width: 100%;
  height: 200px;
}
.exercise-img-con1 {
  display: grid;
  grid-template-columns: repeat(1,1fr 1.5fr 1fr);
}
.exercise-img-con2 {
  display: grid;
  grid-template-columns: repeat(1,1.5fr .75fr 1.25fr);
}
/*BMI */
.BMI-heading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.BMI-calculator{
  background-color: rgba(34, 34, 34, 1);
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
}
table {
  width: 310px;
}
th, td {
  border: 1px solid rgb(214, 206, 206);
  padding: 8px;
  text-align: left;
}
.inputs{
  width:577px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 12px;
  margin-bottom: 10px;
}
.inputs input {
  background-color: rgba(255, 255, 255, 0.1);
  border: 0px;
  border-radius: 8px;
  padding: 8px;
}
.span{
  grid-column: span 2;
}


/* responsive for small devices */
@media screen and (max-width: 556px) {
  .banner{
    flex-direction: column;
  }
  .navlinks{
    display: none;
  }
  .banner{
    margin-left: 10px;
  }
  .get{
    font-size: 36px;
  }
  .card2{
    margin-left:-15px;
    margin-top: -250px;
    padding: 5px;
  }
  .card1{
    margin-left: 140px;
    margin-top: -540px;
    padding: 5px;
  }
.banner-img{
  margin-left: -40px;
}
.buttons1{
  justify-content: space-between;
}
.nav-bar{
  margin-left: 10px;
}
/* main */
/* habit section */
  .habits{
    flex-direction: column;
    margin-left: 20%;
  }

/* running section */
  .running{
    flex-direction: column;
    gap: 31px;
  }
  .running-img-con {
    width: 287px;             /* Adjust width for small screens */
    height: 180px;            /* Adjust height for small screens */
  }

  .running-img {
    top: 0px;
    left: 0px;
    width: 100%;              /* Ensure the image fills the container */
    height: 100%;             /* Ensure the image fills the container */
    object-fit: contain;      /* Ensure the entire image fits within the container */
  }
  /* trainnings section*/
  .trainings{
    margin:0em 1.6em;
  }
  .img-3,.img-6{
    display: none;
  }
  .exercise-img-con1 {
    display: grid;
    grid-template-columns: repeat(1,1fr 1fr);
  }
  .exercise-img-con2 {
    display: grid;
    grid-template-columns: repeat(1,.75fr 1.25fr);
  }
  /* BMI section */

}